@using Orchard.Utility.Extensions;
@{
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
}
<article class="post content-item @contentTypeClassName">
    <header>
        @Display(Model.Header)
    </header>
    @Display(Model.Content)
    @if (Model.Meta != null) {
        <div class="post-meta">
            @Display(Model.Meta)
        </div>
    }
    @if (Model.Footer != null) {
        <footer>
            @Display(Model.Footer)
        </footer>
    }
</article>
